<% @providers&.each do |provider| %>
  <%= link_to provider_path(provider), class:"provider-card-link", data: {turbo: false} do %>
    <div class="provider-card flex items-center space-x-4 p-4 border rounded-lg mb-4 cursor-pointer">
      <% if provider.profile_picture.attached? %>
        <%= image_tag provider.profile_picture, class: "rounded-full w-12 h-12 object-cover" %>
      <% else %>
        <%= image_tag "default_profile_picture.svg", class: "rounded-full w-12 h-12 object-cover" %>
      <% end %>
      <div>
        <h3><%= provider.user.name %></h3>
        <p>Service: <%= provider.service_type %></p>
        <p>Location: <%= provider.location %></p>
        <p>Hourly Rate: <%= provider.hourly_rate %> RON</p>
        <% if provider.rating %>
          <div class="flex items-center">
            <% full_stars = provider.rating.to_i %>
            <% half_star = (provider.rating % 1 >= 0.5) %>
            <% empty_stars = 5 - full_stars - (half_star ? 1 : 0) %>
            <!-- Full Stars -->
            <% full_stars.times do %>
              <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
            <% end %>
            <!-- Half Star -->
            <% if half_star %>
              <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <defs>
                  <clipPath id="half-star">
                    <rect x="0" y="0" width="11" height="20"/> <!-- Left-to-right fill for half -->
                  </clipPath>
                </defs>
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" clip-path="url(#half-star)"/>
              </svg>
            <% end %>
            <!-- Empty Stars -->
            <% empty_stars.times do %>
              <svg class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
            <% end %>
          </div>
        <% else %>
          <p class="text-gray-500 italic">No ratings yet</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>