<% if current_user.user? %>
  <h2>Browse Providers</h2>
  <%= form_with url: providers_path, method: :get, local: true do %>
    <div>
      <%= select_tag :service_type, options_for_select(@service_types, selected: params[:service_type]), prompt: "Filter by Service Type" %>
    </div>
    <%= submit_tag "Filter", class: "btn-primary" %>
  <% end %>
  <% @providers&.each do |provider| %>
    <%= link_to provider_path(provider), class:"provider-card-link" do %>
      <div class="provider-card flex items-center space-x-4 p-4 border rounded-lg mb-4 cursor-pointer">
        <%= image_tag gravatar_url(provider.user.email, 50), class: "rounded-full w-12 h-12 object-cover" %>
        <div>
          <h3><%= provider.user.name %></h3>
          <p>Service: <%= provider.service_type if provider.service_type %></p>
          <p>Location: <%= provider.location %></p>
          <p>Hourly Rate: <%= provider.hourly_rate %> RON</p>
        </div>
      </div>
    <%end%>
  <% end %>
<% end %>